body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 960px;
    height: 960px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px white;
}

.line{opacity: 100%;}

.box {
    background-color: blue;
    flex-shrink: 1;
}

.hovered-box {
    background-color: red;
}

.btn {
    padding: 10px;
    background-color: hsl(164, 81%, 50%);
    border-radius: 8px;
    margin-top: 10px;
    align-self: start;
}