body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 960px;
    height: 960px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    overflow: hidden;
}

.line{opacity: 100%;}

.box {
    flex-shrink: 1;
}

.btn {
    padding: 10px;
    background-color: hsl(164, 81%, 50%);
    border-radius: 8px;
    margin-top: 10px;
    align-self: start;
}